.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    font-size: 1.3rem;
    color: #580c2d;
}
.section-title{
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #580c2d;
}

.blog-text,
.blog-post-text,
.card-text {
        color: #15020a;
        font-size: 0.8rem
}


.blog-post-author,
.card-title {
    font-size: 0.9rem;
    color: #580c2d;
    background-color: #fff;
    margin-top: 1rem;
}
.card-sub-title {
    font-size: 0.9rem;
    color: #580c2d;
    background-color: #fff;
    margin-top: 1rem;
}
.blog-comment-author {
    font-size: 0.9rem;
    color: #580c2d;
    background-color: #fff;
    margin-left: 1rem;
    margin-top: 1rem;
}
a:hover {
    text-decoration: none;
}
.crud-links {
    font-size: 0.8rem;
    color: #580c2d!important;
    font-weight: lighter;
}
.title-links {
    font-size: 1.1rem;
    color: #580c2d!important;
    font-weight: 300;
    text-decoration: underline;
}
.title-links:hover {
    text-decoration: none;
}
.category-title-links {
    font-size: 2rem;
    color: #580c2d!important;
    font-weight: 300;
    text-decoration: underline;
    margin-right: 1rem;
}
.category-title-links:hover {
    text-decoration: none;
}
#custom-btn,
#custom-btn-home {
    background-color: #bb236c;
    color: #fff;
    width: 7rem;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #580c2d;
    -webkit-text-stroke-width: 0.5px;
    border-radius: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.custom-btn-blog {
    margin-right: 2rem;
    background-color: #fff;
    color: #79113f;
    font-weight: normal;
    -webkit-text-fill-color: #79113f;
    -webkit-text-stroke-color: #580c2d;
    -webkit-text-stroke-width: 0.5px;
}

.category-title,
.category-links {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    font-size: 2.4rem;
    color: #79113f;
}

.comment-box {
    border: 1px solid #79113f;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 20px #79113f;
    margin-top: 1rem;
    margin-bottom: 3rem;

}
.blog {
    border: 1px solid #79113f;
}

.card-img-top {
    margin-top: 1rem;
}
h4 {
    color: #580c2d;
}