{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid" id="background">
        <div class="row justify-content-center">
            <div class="col-md-6 header-quote text-center">
                “Today I celebrate women who are:<br/>
                Vulnerable but strong.
                Sensitive but assertive.
                Always learning but intelligent.
                Scared but brave.
                Victims but survivors.
                Helpless but selfless.
                Heartbroken but healers.
    
                Women who break glass-ceilings & barriers.
                I see you. I am with you. I am you.”
                ― Mitta Xinindlu 
            </div>
        </div>
</section>

<section class="container-fluid" id="intro">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="intro-text">
                Beloved woman (or partner of woman),<br/><br/>
                In a world where porn still seems to be the prime example, more and more women are feeling lost. Sex seems to follow a fixed pattern, telling your partner what you like and what you dislike seems an impossible task,
                since we have never learned that we also have a voice. Having the right to tailor our sexual relationships, with others, but also with ourselves, as it nourishes ourselves. 
                It is easy to blame men for this, but they too live by examples presented to them. If you pay attention, you will see that our society is full of texts, images and statements that are more harmful than helpful.
                If we, as women, want to receive and give pleasure, it is our task to provide the examples that are more in line with the image we envision with the word ‘sex’.<br/><br/>
                In sexual union, women are the host. She receives the man (in a heterosexual relationship, although this describes a physical process, this actually happens in homosexual relationships as well,
                I am by no means saying here that only a straight relationship is the "right" way).<br/><br/>
                In order to receive, a degree of security and self-knowledge is necessary. Something that many women lack. Knowledge of the unique qualities of one's own body, which the body needs to fully open up, is something that few women have mastered. Luna wants to help women to reconnect with their own body in order to discover what it takes to be able to fully open yourself up for sex, in all its beautiful facets.
                The lack of knowledge in this regard does not only manifest itself in the sexual field. 
                Luna is convinced that many problems that women experience in life in general (who am I actually, what do I need in this life, why do I get stuck in specific areas or a general sense of meaninglessness),
                menstruation and / or fertility problems, stems from having no or little connection and awareness of the body.<br/><br/>
                Luna offers a unique perspective on how to deal with these problems. In a more gentle, intuitive way, I want to help you, dear woman, to get in touch with your body, identify the messages it is giving,
                in order to learn how to work with your body again, instead of against your body. Your body is a beautiful being, able to guide you on this path that is life.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid" id="section-bg-dark"></section>
<section class="container-fluid" id="about">
    <div class="row justify-content-center">
        <a href="{% url 'why' %}"  class="col-md-5 img-fluid hover mt-3 mb-3 mr-1 ml-1" id="why">
            <p class="title text-center">
                Why choose a more sexual approach?
            </p>
        </a>
        <a href="{% url 'how' %}" class="col-md-5 img-fluid hover mt-3 mb-3 mr-1 ml-1" id="how">
            <p class="title text-center">
                How can Dark Luna help?
            </p>
        </a>
    </div>
</section>
<section class="container-fluid" id="section-bg-light"></section>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <p class="title">Latest blog items</p>
    </div>
</div>
<section class="container-fluid" id="index-blog">
    <div class="row row-cols-1 row-cols-md-4 g-4 row-cards justify-content-center">
        {% for post in object_list %}
            {% if post.pk < 5 %}
        <div class="col-sm-6">
            <div class="card" style="width: 15rem;">
                {% if post.header_image %}
                            <img src="{{post.header_image.url}}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="../../../media/backgrounds/why.jpg" class="card-img-top" alt="..."> 
                        {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}<br/>{{ post.author.username }} - {{ post.post_date }} - {{ post.category }}</h5>
                    <p class="card-text">{{ post.body|slice:"200"|safe }}</p>
                    <a href="{% url 'blog-post-detail' post.pk %}" class="btn-md" id="custom-btn">Read More</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
<section class="container-fluid" id="ready">
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="title text-center">
                Are You Ready?
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tL36jjF6-DI" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
        
       
