#life {
    margin-top: 6rem;
    margin-bottom: 3rem;
    max-width: 95vw;
}

.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #580c2d;
}
.life-text {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}

#life-image {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/life-image.jpg");
    height: 45vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 1rem;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}
.life-quote {
    display: flex;
    align-items:center;
    padding: 1rem 1rem;
    justify-content: center;
    margin-top: 15rem;
    font-size: 1rem;
    color: #671a36;
    background: rgba(255, 255, 255, 0.404);
}
/* Testimonial Slider */
.testimonial{
    padding: 70px 30px 50px;
    margin: 50px 30px 30px;
    border: 1px solid #ea816b;
    position: relative;
}

.testimonial .description{
    font-size: 15px;
    color: #5e595b;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -2px;
}
.testimonial .title{
    display: inline-table;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ea816b;
    font-size: 20px;
    font-weight: 700;
    color: #c7373c;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
}
.testimonial .post{
    font-size: 15px;
    color: #671a36;
}
.owl-theme .owl-controls{
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
}
.owl-prev{
    position: absolute;
    left: -5%;
}
.owl-next{
    position: absolute;
    right: -5%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 30px;
    color: #c7373c;
    opacity: 1;
}
.owl-carousel {
    display:inherit;
    position: relative;
    width: 100%;
}
.owl-next:after{ content: "\f105"; }
 
@media only screen and (max-width: 479px){
    .testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
}
