#intro {
    padding-left: 0;
    padding-right: 0;
}
.intro-text {
    font-size: 1rem;
    color: #15020a;
}
#about {
    /* position: absolute; */
    margin-top: 3rem;
    margin-bottom: 6rem;
}
#why {
    background-image: url("../../../media/backgrounds/why.jpg");
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#how {
    background-image: url("../../../media/backgrounds/how.jpg");
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 10vh;
    font-size: 2.4rem;
    color: #580c2d;
    background: rgba(255, 255, 255, 0.2);
}
a:hover {
    text-decoration: none;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}
.card-title {
    color: #580c2d;
    font-size: 2rem;
}
.card-body {
    color: #15020a;
    font-size: 1rem;
}
#index-blog {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 30vw;
    height: auto;
}
.section-titles {
    color: #580c2d;
    font-size: 3rem;
}
