/* Header section background */
#background {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/heroheader.jpg");
    height: 65vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.80;
}

/* Header quote */
.header-quote {
    padding: 1rem 1rem;
    margin-top: 5rem;
    font-size: 1rem;
    color: #580c2d;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    font-weight: 400;
}

/* Intro section */
#intro {
    padding-left: 0;
    padding-right: 0;
    background-color: #bb236c3f;
}
.intro-text-1 {
    font-size: 1rem;
    color: #15020a;
    padding: inherit;
    margin-left: 3rem;
}
.intro-text-2 {
    font-size: 1rem;
    color: #15020a;
    padding: inherit;
    margin-right: 1rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}
.intro-title {
    font-size: 1.2rem;
    color: #15020a;
    padding: inherit;
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: 500;
}

/* About section */
#about {
    background-color: #bb236c3f;
}
.about-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
}
#why {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/why.jpg");
    height: 25vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 3rem 3rem 3rem 2rem;
}
#how {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/how.jpg");
    height: 25vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 3rem 3rem 3rem 2rem;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}

/* Blog section */
.blog-section-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    color: #580c2d;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
.card-title {
    color: #580c2d;
    font-size: 0.8rem;
}
.card-text {
    color: #15020a;
    font-size: 0.5rem;
}
#index-blog {
    align-items: center;
    justify-content: center;
    background-color: #bb236c3f;
}
a#custom-btn {
    background-color: #79113f;
    color: #fff;
    border-radius: 3rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}
#section-bg-light {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/bglight.jpg");
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.50;
}
#section-bg-dark {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/bgdark.jpg");
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.50;
}

/* Ready? */
#ready {
    margin-bottom: 3rem;
}
.video-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    color: #580c2d;
    font-weight: bold;
}

/* Media Breakpoints */
@media (min-width: 320px ) {
    .header-quote {
        margin-top: 6rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
}
@media (min-width: 576px) {
    .about-title {
        margin-top: 6rem;
        font-size: 1.4rem;
    }
    .header-quote {
        margin-top: 8rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    a#custom-btn {
        background-color: #79113f;
        color: #fff;
        width: 3rem;
        border-radius: 3rem;
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }
    .intro-title {
        margin-bottom: 1rem;
    }
    .intro-text-1 {
        margin-bottom: 2rem;
    }
    .intro-text-2 {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) {
    .about-title {
        margin-top: 5rem;
        font-size: 1.4rem;
    }
    .card-text {
        font-size: 0.8rem;
    }
    .header-quote {
        margin-top: 11rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .card-title {
        font-size: 1rem;
    }
    a#custom-btn {
        width: 4rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 1400px) {
    .header-quote {
        margin-top: 11rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .card-title {
        font-size: 1rem;
    }
}