#intro {
    padding-left: 0;
    padding-right: 0;
    background-color: #bb236c3f;
}
.intro-text {
    font-size: 1rem;
    color: #15020a;
    padding:inherit;
}
#background {
    background-image: url("../../../media/backgrounds/hero2.jpg");
    height: 65vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
}

.header-quote {
    padding: 1rem 1rem;
    margin-top: 4rem;
    font-size: 1.3rem;
    color:#580c2d;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    font-weight: 600;
    }

#about {
    background-color: #bb236c88;
}
#why {
    background-image: url("../../../media/backgrounds/why.jpg");
    height: 25vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#how {
    background-image: url("../../../media/backgrounds/how.jpg");
    height: 25vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    padding: 1rem 1rem;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #580c2d;
    background: rgba(255, 255, 255, 0.2);
}
a:hover {
    text-decoration: none;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}
.card-title {
    color: #580c2d;
    font-size: 1.2rem;
}
.card-text {
    color: #15020a;
    font-size: 0.9rem;
}
#index-blog {
    align-items: center;
    justify-content: center;
}
.card {
    width: 30vw;
    height: auto;
    margin-top: 0;
}

a#custom-btn {
    background-color: #bb236c;
    color: #fff;
    width: 7rem;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #580c2d;
    -webkit-text-stroke-width: 0.5px;
    border-radius: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
#section-bg-light {
    background-image: url("../../../media/backgrounds/hans-vivek-UiMkBvDQSAA-unsplash.jpg");
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.50;
    background-attachment: fixed;
}
#section-bg-dark {
    background-image: url("../../../media/backgrounds/jared-rice-NTyBbu66_SI-unsplash.jpg");
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.50;
    background-attachment: fixed;
}