{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}
{% block title %}
    Booking
{% endblock %}

{% block content %}

<!-- Main container -->
<div id="booking-page">
    <!-- Top banner -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class= "section-title text-center">Booking</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <!-- Booking container -->
                {% if bag %}
                    <!-- Finalise your booking -->
                    <div class="section-title text-center">Finalise your booking:</div>
                    <!-- When any workshop is booked show booked in this container -->
                    {% if booked_workshops %}
                    <!-- Booked workshops -->
                    {% include './booking-general.html' %}
                    <!-- Totals -->
                    {% include './booking-finalize.html' %}
                {% endif %}
            </div>
        </div>
        {% else %}
        <!-- Link for booking -->
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="book-title">Nothing booked ?</p>
                <p class="book-title">This workshop might be something for you!</p>
            </div>
        </div>
    <!-- Include "Random Workshop" container -->
    {% include 'includes/random-workshop.html' %}
    {% endif %}
    </div>  
</div>


{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
    /**
    * This function will remove item from booked workshops bag and update the 'bag' and reload page
    */
    $('.remove-workshop').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let workshopId = $(this).attr('id').split('remove_')[1];
        let url = `/booking/remove/${workshopId}`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}
