{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block title %}
    Booking
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class= "section-title text-center">Booking</div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <!-- Booking container -->
            {% if bag %}
                <!-- Finalise your booking -->
                <div class="section-title text-center">Finalise your booking:</div>
                <!-- When any workshop is booked show booked in this container -->
                {% if booked_workshops %}
                <!-- Booked workshops -->
                {% include './booking-general.html' %}
                <!-- Totals -->
                {% include './booking-finalize.html' %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <!-- Link for booking -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <p class="book-title text-center">Nothing booked ?</p>
            <p class="book-title text-center">Check out our: <a href="{% url 'workshops' %}" class="section-title">Workshops!</a> </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6" id="section-bg-dark">
            <div class="col-12 header-quote text-center">
                “Don't be pushed around by the fears in your mind. Be led by the dreams in your heart.”
                Roy T. Bennett, The Light in the Heart
            </div> 
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    /**
    * This function will remove item from booked workshop bag and update the 'bag' and reload page
    */
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let workshopId = $(this).attr('id').split('remove_')[1];
        let url = `/booking/remove/${workshopId}`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}
