.section-title{
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #580c2d;
}
.blog-post-author,
.card-title {
    font-size: 0.9rem;
    color: #580c2d;
    background-color: #fff;
}
.card-sub-title {
    font-size: 0.7rem;
    color: #580c2d;
    background-color: #fff;
}
.crud-links {
    font-size: 0.7rem;
    color: #580c2d!important;
    font-weight: normal;
}
.title-links {
    font-size: 0.9rem;
    color: #580c2d!important;
    font-weight: 300;
}
.title-links:hover {
    text-decoration: none;
}
.card-img-top {
    margin-top: 1rem;
}
#custom-btn,
#custom-btn-home {
    background-color: #79113f;
    color: #fff;
    width: 4rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}
.custom-btn-blog {
    background-color: #79113f;
    color: #fff;
    width: 3rem;
    border-radius: 3rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    font-weight: bold;
}
/* Comment section */
.comment-box {
    border: 1px solid #79113f;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 20px #79113f;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.card-text {
    color: #15020a;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.comment-section-title{
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #580c2d;
}
.blog-comment-author {
    font-size: 0.6rem;
    color: #580c2d;
    background-color: #fff;
    margin-left: 1rem;
    margin-top: 1rem;
}
.comment-crud-links {
    font-size: 0.5rem;
    color: #580c2d!important;
    font-weight: normal;
}

/* Media breakpoints */
@media (min-width: 576px) {
    .card-title {
        font-size: 1.1rem;
    }
    .comment-section-title {
        font-size: 1.5rem;
    }
    .blog-comment-author {
        font-size: 0.8rem;
    }
    .card-text {
        font-size: 0.9rem;
    }
    .custom-btn-blog {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .card-title {
        font-size: 1rem;
        text-align: left;
    }
    .card-sub-title {
        font-size: 1rem;
        text-align: left;
    }
    .section-title{
        font-size: 1.5rem;
    }
}
@media (min-width: 992px) {
    .card-title {
        font-size: 1.2rem;
        text-align: center;
    }
    .card-sub-title {
        font-size: 1rem;
        text-align:center;
    }
    .custom-btn-blog {
        align-self: center;
    }
   
}