.page-title{
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    color: #580c2d;
}
.section-title{
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    color: #580c2d;
}
.contact-section-title{
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: #580c2d;
}
.bg {
    background-color: #bb236c3f;
    margin: 1rem 1rem 1rem 1rem;
}


.life-text,
.sex-text,
.shadow-text {
    font-size: 0.7rem;
    color: #000;
    margin: 1rem 1rem 1rem 1rem;
}

#life-image {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/jared-rice-NTyBbu66_SI-unsplash.jpg");
    height: 40vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.life-quote {
    display: flex;
    align-items:center;
    padding: 1rem 1rem;
    justify-content: center;
    margin-top: 14rem;
    font-size: 0.8rem;
    color: #fff;
    background: rgba(134, 15, 70, 0.377);
}
@media (min-width: 576px) {
    .life-quote {
        margin-top: 18rem;
    }
}
@media (min-width: 768px) {
    .life-quote {
        margin-top: 25rem;
    }
}
@media (min-width: 992px) {
    .life-quote {
        margin-top: 15rem;
    }
}
@media (min-width: 1400px) {
    .life-quote {
        margin-top: 18rem;
    }
}