.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    width: auto;
    font-size: 2rem;
    color: #580c2d;
    background: rgba(255, 255, 255, 0.2);
}
.account-text {
    font-size: 1rem;
    color: #15020a;
    background-color: #fff;
}
p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}
#add-testimony-form {
    color: #000;
}
.form-btn {
    background-color: #580c2d;
    color: #f8f8ff!important;
    width: 8rem;
    font-size: 0.7rem;
}
.account-btn {
    background-color: #580c2d;
    color: #f8f8ff!important;
    width: 13rem;
    font-size: 1rem;
    margin-left: 2rem;
}
.workshops-btn {
    background-color: #580c2d;
    color: #f8f8ff!important;
    width: 13rem;
    font-size: 1rem;
    margin-left: 2rem;
}
