.therapists-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #580c2d;
    margin-top: 1.5rem;
}
.therapists-sub-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    color: #580c2d;
}
.therapists-text {
    font-size: 1rem;
    color: #15020a;
}

p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}

@media (min-width: 1400px) {
    .therapists-title {
        font-size: 2rem;
    }
    .therapists-sub-title {
        font-size: 1.5rem;
    }
}