{% extends 'base.html' %}
{% load static %}

{% block title %}
    Massage
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'massage/css/massage.css' %}">
{% endblock %}
    
{% block content %}
<div class="container-fluid mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-l9-6 col-md-6 ">
            <div class="massage-title text-center">
                Massage
            </div>
            <p class="contact-section-title contact text-center">
                Please feel free to <a href="{% url 'contact' %}"><i class="fas fa-reply-all contact mr-2"></i>Contact us</a> for more information or to book a free introduction session! 
            </p>
        </div>
    </div>
</div>        
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5" id="massage-img"></div>
        <div class="col-12 col-lg-5">
            <div class="massage-text">
                The sensual massage for women is a wonderful massage that we at Dark Luna have specially developed to let you completely relax and unwind.
                You learn to feel very consciously what exactly happens in your body when you are touched.
                The touch that makes this massage so pleasant is a lot softer and calmer than the one you will experience during a regular relaxation massage.
                We also use various tools that will stimulate your senses, so that they come to life more and you will experience more of life.
                We use different techniques from Tao and Tantra. We start with a nice cup of tea and a good conversation.
                We will discuss what you expect and you will be asked which areas of your body deserve extra attention.
                Then we sit opposite each other and coordinate our breathing. Then you will be asked to lie down on the massage table and do nothing more than surrender to your own sensuality.    
            </div>
        </div>
    </div>
</div>
{% include 'layout/footer.html' %}
{% endblock %}