html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    /* font-family: "Raleway", sans-serif; */
    font-size: 62.5%;
    color: #f8f8ff;
    overflow-x: hidden;
}

/* Navbar styling*/
.navbar-brand,
.navbar-extend-xl {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: -1.9rem;
    font-size: 2.5rem;
    line-height: inherit;
    white-space: nowrap;
    margin-right: 0;
    margin-top: 0;
    color: #79113F;

}

.img {
    margin-right: -1rem;
}

a {
    font-size: 1.4rem;
    color: #79113F;
    font-weight: bold;
    margin-right: 1.5rem;
}

a:hover {
    color: #580c2d;
}

.navbar-toggler {
    background-color: #580c2d;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    border-color: #79113f;
    font-size: 2rem;

}
.navbar-toggler:hover {
    background-color: #79113f;
   
}

.navbar .dropdown-menu {
    background-color: transparent;
    border: 0;
}

.navbar .dropdown.show a,
.navbar .dropdown-item {
    background: rgba(255, 255, 255, 0.2);
    color:  #580c2d;
}

 .navbar .dropdown-item:hover {
    color: #79113f;
}

/* Hero header styling */
.hero.is-info,
.hero.is-info a.navbar-item.is-active,
.hero.is-info a.navbar-item:hover,
.hero.is-info .navbar-item {
    background-color: #fff;
}

.hero.is-info {
    background-image: url("../../../media/backgrounds/header.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.custom-btn {
    background-color: #79113F!important;
    color: #f8f8ff!important;
    width: 13rem;
}
.header-quote {
    padding: 1rem 1rem;
    margin-top: 20rem;
    font-size: 2rem;
    color: #791137;
    background: rgba(255, 255, 255, 0.4);
}
/* Forms styling */
.card {
    margin-top: 6rem;
    height:auto;
    width: 40vh;
}

p {
    color: #000;
    font-size: 1.1rem;
}

h1,
label,
.btn
 {
    color: #79113f;
}

#mc_embed_signup .button {
    background-color: #79113F!important;
    color: #f8f8ff!important;
}
