html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    /* font-family: "Raleway", sans-serif; */
    font-size: 62.5%;
    color: #f8f8ff;
    overflow-x: hidden;
    height: 100%;
}

/* Navbar styling*/
.navbar-brand,
.navbar-expand-xl {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 2.5rem;
    line-height: inherit;
    white-space: nowrap;
    justify-content: flex-start;
    flex-flow: row nowrap;
    background: rgba(255, 255, 255, 0.4);

}

.img {
    margin-right: -1rem;
}

a {
    font-size: 1.6rem;
    color: #15020A;
    border-radius: 1rem;
    margin-right: 1rem;
}
.logo-text {
    font-size: 1.7rem;
    color: #580c2d;
    padding-left: 0;
}

a:hover {
    color: #580c2d;
}

.navbar .dropdown-menu {
    background-color: transparent;
    border: 0;
}

.navbar .dropdown.show a,
.navbar .dropdown-item {
    display: block;
    width: 80%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 300;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    color:  #580c2d;
    font-size: 1rem;
}

 .navbar .dropdown-item:hover {
    color: #79113f;
}

/* Hero header styling */
.hero.is-info,
.hero.is-info a.navbar-item.is-active,
.hero.is-info a.navbar-item:hover,
.hero.is-info .navbar-item {
    background-color: #fff;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #79113f;
    border: 1px solid transparent;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: 1rem;
}
.navbar-toggler-icon {
    display: inline-block;
    color: #580c2d;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
    border-radius: 1rem;
    border-block-style: groove;
}
.hero.is-info {
    background-image: url("../../../media/backgrounds/header.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.custom-btn {
    background-color: #79113F!important;
    color: #f8f8ff!important;
    width: 5rem;
}
.header-quote {
    padding: 1rem 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #15020A;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    font-weight: 450;
}
/* Forms styling */
.card {
    height:auto;
    width: 40vh;
}

p {
    color: #000;
    font-size: 1.1rem;
}

h1,
label,
.btn
 {
    color: #79113f;
}

#mc_embed_signup .button {
    background-color: #79113F!important;
    color: #f8f8ff!important;
}
