.section-title,
.workshop-section-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #580c2d;
    margin-top: 1.5rem;
}

.title {
    font-size: 0.7rem;
    color: #580c2d;
    margin-bottom: 1rem;
}
.body-title {
    font-size: 0.7rem;
    color: #580c2d;
    margin-bottom: 1rem;
    font-weight: bold;
}
.workshops-text
.text-body {
    font-size: 0.8rem;
    color: #15020a;
    background-color: #fff;
    margin-left: 1rem;
}
.workshop-btn {
    background-color: #79113F !important;
    color: #f8f8ff !important;
    width: 4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}
.book-btn {
    background-color: #f8f8ff !important;
    color:  #79113F !important;
    width: 5rem;
    margin-left: 1rem;
    font-size: 0.7rem;
}
.book-custom-btn {
    background-color: #79113F !important;
    color: #f8f8ff !important;
    width: 10rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}

.category-link {
    display: flex;
    padding: 1rem 1rem;
    width: auto;
    font-size: 1rem;
    color: #580c2d;
}
.category-link-item {
    display: flex;
    padding: 1rem 1rem;
    width: auto;
    font-size: 0.7rem;
    color: #580c2d;
}
.category-link-item:hover {
    display: flex;
    padding: 1rem 1rem;
    width: auto;
    font-size: 1rem;
    color: #79113f;
}
.text-success {
    color: #580c2d!important;
    font-size: 0.9rem;
}
.query-text {
    color: #15020A!important;
    font-size: 0.9rem;
}
.cat-title {
    padding: 1rem 1rem;
    width: auto;
    font-size: 1rem;
    color: #15020A;
    margin-bottom: 0;
}
.section-title-cat {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #580c2d;
    margin-bottom: -2rem;
}
.workshop-admin-card {
    margin-top: 4rem;
    height: auto;
    width: 20vh;
    border: 1px solid #79113f;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 20px #79113f;
}
.add-workshop-card {
    margin-top: 5rem;
    height: auto;
    width: 20vh;
}
.workshop-container {
    margin-top: 5rem;
}
