.section-title {
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #580c2d;
}

.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    width: auto;
    font-size: 1.5rem;
    color: #580c2d;
}

.workshops-text {
    font-size: 1rem;
    color: #15020a;
    background-color: #fff;
}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}

.category-link {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    width: auto;
    font-size: 1.3rem;
    color: #580c2d;
}
.text-success {
    color: #580c2d!important;
    font-size: 0.9rem;
}
.query-text {
    color: #15020A!important;
    font-size: 0.9rem;
}
.cat-title {
    padding: 1rem 1rem;
    width: auto;
    font-size: 1rem;
    color: #15020A;
    margin-bottom: 0;
}
.section-title-cat {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: #580c2d;
    margin-bottom: -2rem;
}
.workshop-admin-card {
    margin-top: 1rem;
    height: auto;
    width: 15vh;
    border: 1px solid #79113f;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 20px #79113f;
}