<form method="POST" id="form-contact">
    <!-- POST message -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="message alert-{{ message.tags }}" {% endif %}> {{ message }}
        </p>
        {% endfor %}
    </div>
    {% endif %}
    <p class="contact-sub-title text-center"> If you have any questions or need help, please fill out the form
            below.</p>
    <!-- Contact form fields -->
    <div class="form-group-contact mb-4">
        {% csrf_token %}
        {{ contact_form.name | as_crispy_field }}
        {{ contact_form.from_email | as_crispy_field }}
        {{ contact_form.subject | as_crispy_field }}
        {{ contact_form.message | as_crispy_field }}
    </div>
    <!-- Form buttons -->
    <div class="d-flex justify-content-center mr-3">
        <button type="reset" class="btn custom-btn">Clear</button>
        <button type="submit" class="btn custom-btn">Send</button>
    </div>
</form>