{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Admin forms {% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <p class="title">Admin</p>
            <div class="forms-container">
                <!-- Form -->
                {% if '/edit' in request.path %}
                <!-- Include edit forms -->
                <div class="edit-forms">
                    {% include 'admin/forms/edit-forms.html' %}
                </div>
                {% else %}
                <!-- Include add forms -->
                <div class="add-forms">
                    {% include 'admin/forms/add-forms.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock%}