{% extends 'base.html' %}
{% load pinax_testimonials_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shadow/css/shadow.css' %}">
{% endblock %}
    
{% block content %}
    <section class="container-fluid mb-4" id="shadow">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                Shadow Work
                </p>
                <p class="shadow-text">
                Shadow work wants to reintegrate the qualities that you feel less comfortable with into your personality.
                This can be shame, anger, hatred or guilt. Basically all "negative" feelings can fall under this. We often put these feelings away, resulting them resurfacing in a potentially destructive way.
                The goal is to identify these feelings, listen to their message with empathy and understanding and then integrate them into your personality.
                </p>
            </div>
        </div>   
    </section>
    <section class="container-fluid" id="testimonials">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="title text-center">
                    Testimonials
                </p>
                <div class="col-12">
                {% random_testimonials 1 as quotes %}
                    {% for quote in quotes %}
                <p class="lead text-center">
                    {{quote.text}}
                    {{quote.author}}
                </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="enquire-form">
        <div class="row justify-content-center">
            <div class="col-6">

            </div>
        </div>
    </section>
{% endblock %}