{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shadow/css/shadow.css' %}">
{% endblock %}
   
{% block content %}
    <section class="container-fluid" id="shadow">
        <div class="row justify-content-center">
            <div class="col-md-5" id="shadow-content">
                <p class="title text-center">
                    Shadow Work
                </p>
                <p class="shadow-text text-center">
                    Shadow work wants to reintegrate the qualities that you feel less comfortable with into your personality.
                    This can be shame, anger, hatred or guilt. Basically all "negative" feelings can fall under this. We often put these feelings away, resulting them resurfacing in a potentially destructive way.
                    The goal is to identify these feelings, listen to their message with empathy and understanding and then integrate them into your personality.
                    Everyone carries a dark side, even if we don’t like to admit it. Shadow work can sound scary, and some parts of it may be rather uncomfortable,
                    but it is necessary work to uncover true joy and peace in life. If we let our dark side run rampant and uncontrolled, our lives will feel chaotic.
                    This can manifest as issues with mental health, diseases, feelings of low self-worth, addictions, scarcity mindset, and other mind/body health issues that can affect overall quality of life.
                    Our shadow self often harms our life, in ways that are unconscious to us at the time, as a habitual reaction to particular places, people or things.
                    Our shadow self blocks us from acting for our own greatest good and can prevent us from reaching our true potential in life.
                    </p>
            </div>
            <div class="col-md-6 img-fluid hover" id="shadow-image">
                <p class="shadow-quote">
                    "Learn who you are. Unlearn who they told you to be."
                    ~ S. McNutt
                </p>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="testimonials">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <p class="title text-center">
                    Testimonials
                </p>
                <div class="container">
                    <div class="row">
                        {% for testimonial in testimonials %}
                            {% if testimonial.page == 'Shadow Work' %}
                        <div class="col-md-offset-2 col-md-8">
                            <div id="testimonial-slider" class="owl-carousel">
                                <div class="testimonial">
                                    <p class="description">
                                        {{ testimonial.text }}
                                    </p>
                                    <h3 class="title">
                                        {{ testimonial.author }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}    
                    {% endfor %}
                </div>
                </div>
                </div>
    </section>
    <section class="container-fluid" id="enquire-form">
        <div class="row justify-content-center">
            <div class="col-6">

            </div>
        </div>
    </section>
{% endblock %}