{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
    
{% block content %}
    <section class="container-fluid mb-4" id="blog">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                {{ post.title }}
                </p>
                <p class="blog-post-author">
                    By: {{ post.author.first_name }} - {{ post.post_date }} - 
                    {% if request.user.is_superuser %}
                    <a href="{%url 'update-blog-post' post.pk %}">(Edit)</a>
                    - <a href="{%url 'delete_post' post.pk %}">(Delete)</a>
                    {% endif %}
                </p>
                <p class="blog-post-text">
                    {{ post.body }}
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
        <a href="{% url 'blog' %}" class="btn btn-outline-dark btn-lg">Back to Blog main page</a>
        </div>
    </div>   
    </section>
    <section class="container-fluid" id="comments">
       
    </section>
{% endblock %}