{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
    
{% block content %}
    <div class="container-fluid mb-4">
        <p class="section-title text-center">
            Blog
        </p>
        <div class="row justify-content-center ml-auto">
        {% for post in object_list %}
        <div class="col-8 col-md-5 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="blog-card" style="width: 18rem;">
                {% if post.header_image %}
                    <img src="{{ MEDIA_URL }}{{post.header_image}}" class="card-img" alt="...">
                {% else %}
                    <img src="{{ MEDIA_URL }}../../../media/logo/logo.png" class="card-img" alt="...">
                {% endif %}
                <div class="card-body text-center">
                    <a href="{% url 'blog-post-detail' post.pk %}" class="title-links text-center">{{ post.title }}</a>
                    <div class="card-title">{{ post.author }} - {{ post.post_date }}</div>
                    <hr>
                    <p class="card-text">{{post.snippet}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% include 'layout/footer.html' %}
{% endblock %}
