{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
    
{% block content %}
    <section class="container-fluid mb-4" id="blog">
        <p class="section-title text-center">
            Blog
        </p>
        <div class="row justify-content-center">
        {% for post in object_list %}
        <div class="col-11 col-md-5 col-lg-3 mb-5">
            <div class="card" style="width: 18rem;">
                {% if post.header_image %}
                <img src="{{post.header_image.url}}" class="card-img-top" alt="...">
                {% else %}
                <img src="../../../media/backgrounds/why.jpg" class="card-img-top" alt="..."> 
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'blog-post-detail' post.pk %}" class="title-links">{{ post.title }}</a>
                    <div class="card-title">{{ post.author }} - {{ post.post_date }}</div>
                    <hr>
                    <p class="card-text">{{post.snippet}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    {% include 'layout/footer.html' %}
{% endblock %}
