{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
    
{% block content %}
    <section class="container-fluid mb-4" id="blog">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                Blog
                </p>
                <ul class="blog-text"> 
                        {% for post in object_list %}
                            <li><a href="{% url 'blog-post-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} - {{ post.post_date }} - <a href="{%url 'update-blog-post' post.pk %}">(Edit)</a>
                                - <a href="{%url 'delete_post' post.pk %}">(Delete)</a><br/>
                            {{ post.body|slice:"200" }}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>   
    </section>
    <section class="container-fluid" id="comments">
       
    </section>
{% endblock %}