{% if 'categories/add/' in request.path %}
<!-- Categories Form -->
<div class="col-12 therapists-title">Add a category here!</div>
<form action="{% url 'add_categories_admin' %}" method="POST">
    {% csrf_token %}
    {{ form.name | as_crispy_field }}
    {{ form.friendly_name | as_crispy_field }}
    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="reset" class="btn custom-btn">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btn custom-btn">Add</button>
        </div>
    </div>
</form>
{% elif 'workshops/add/' in request.path %}
<!-- Workshops Form -->
<div class="col-12 therapists-title">Add a workshop here!</div>
<form action="{% url 'add_workshops_admin' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.image | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.category | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.therapist | as_crispy_field }}
    {{ form.description | as_crispy_field }}
    {{ form.start_date | as_crispy_field }}
    {{ form.end_date | as_crispy_field }}
    {{ form.start_time | as_crispy_field }}
    {{ form.end_time | as_crispy_field }}
    {{ form.participants | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.price | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="reset" class="btn custom-btn">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btn custom-btn">Add</button>
        </div>
    </div>
</form>
{% elif 'therapists/add/' in request.path %}
<!-- Therapists Form -->
<div class="col-12 therapists-title">Add a therapist here!</div>
<form action="{% url 'add_therapist_admin' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.image | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    {{ form.about | as_crispy_field }}
    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="reset" class="btn custom-btn">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btn custom-btn">Add</button>
        </div>
    </div>
</form>
{% endif %}
