{% if 'categories/edit' in request.path %}
<!-- Categories Form -->
        <form action="{% url 'edit_categories_admin' category.id %}" method="POST">
            {% csrf_token %}
            {{ form.name | as_crispy_field }}
            {{ form.friendly_name | as_crispy_field }}
            <!-- Buttons -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <button type="reset" class="btn custom-btn">Reset</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <button type="submit" class="btn custom-btn">Update</button>
                </div>
            </div>
        </form>
{% elif 'workshops/edit' in request.path %}
<!-- Workshops Form -->
<form action="{% url 'edit_workshops_admin' workshop.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.image | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.category | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.therapist | as_crispy_field }}
    {{ form.description | as_crispy_field }}
    {{ form.start_date | as_crispy_field }}
    {{ form.end_date | as_crispy_field }}
    {{ form.start_time | as_crispy_field }}
    {{ form.end_time | as_crispy_field }}
    {{ form.participants | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    {{ form.price | as_crispy_field }}
    <div class="from-group arrow-icon">
        <i class="fas fa-angle-down blue-text"></i>
    </div>
    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="reset" class="btn book-custom-btn">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btn book-custom-btn">Update</button>
        </div>
    </div>
</form>
{% elif 'therapist/edit' in request.path %}
<!-- Therapist Profiles Cards Form -->
<form action="{% url 'edit_therapist_admin' therapist.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.image | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    {{ form.about | as_crispy_field }}
    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="reset" class="btn">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btnt">Update</button>
        </div>
    </div>
</form>

{% endif %}