<div class="row justify-content-center">
    <!-- Totals -->
    <div class="col-12 mt-4 mb-4 text-center">
        <div class="total-title mb-1">Booking Total: € {{ total|floatformat:2 }}</div>
        <div class="total-title">Grand Total: € {{ grand_total|floatformat:2 }}</div>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <!-- More workshops button -->
    <div class="col-12 text-center">
        <div class="mb-2">
            <a href="{% url 'workshops' %}" class="btn">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Check out more workshops</span>
            </a>
        </div>
        <!-- Secure checkout button -->
        <div class="col-12 mb-4">
            <a href="{% url 'checkout' %}" class="btn">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
</div>