<div class="row">
    <div class="col-12 mt-4 mb-4 text-center">
        <div class="total-title">Booking Total: € {{ total|floatformat:2 }}</div>
        <div class="total-title">Grand Total: € {{ grand_total|floatformat:2 }}</div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div class="card mb-2">
            <a href="{% url 'workshops' %}" class="btn">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Check out more workshops</span>
            </a>
        </div>
        <!-- Secure checkout button -->
        <div class="col">
            <div class="card ">
                <a href="{% url 'checkout' %}" class="btn">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>