{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'sex/css/sex.css' %}">
{% endblock %}
    
{% block content %}
    <section class="container-fluid mb-4" id="sex">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                Sex Coaching
                </p>
                <p class="sex-text">
                The sex coaching sessions we do are not like conversations with a regular therapist. We are not going to dive into your past, dig or analyze too much.
                Analyzing is a masculine quality and we at Dark Luna are convinced that the solution to many problems women grapple with lies in learning how and what you feel and how to interpreted and use your intuition.
                Sessions with us are more with the body and the emotions. Not focusing why things went south, but how do I make sure that it (continues) to go well.
                You will be given exercises.
                A number of exercises are aimed at generating sexual energy (warm exercises) and you learn to let it flow through your body and store it in your lower abdomen.
                Other exercises (cold exercises) teach you to get in better contact with your body and to become flexible.
                What is important to know is that there is no sexual acts of any kind performed at Dark Luna.
                You will remain clothed while learning the exercises which you can do at home by yourself or together with a partner.
                This energy, life energy is very important and ensures that you become and remain healthy and can enjoy your life optimally.
                As a sensual woman you learn to enjoy attention from others optimally, you find out what you like and what you need and how you ask for it.
                </p>
            </div>
        </div>   
    </section>
    <section class="container-fluid" id="testimonials">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="title text-center">
                    Testimonials
                </p>
                <div class="container">
                    <div class="row">
                        {% for testimonial in testimonials %}
                            {% if testimonial.page == 'Sex Coaching' %}
                        <div class="col-md-offset-2 col-md-8">
                            <div id="testimonial-slider" class="owl-carousel">
                                <div class="testimonial">
                                    <p class="description">
                                        {{ testimonial.text }}
                                    </p>
                                    <h3 class="title">
                                        {{ testimonial.author }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}    
                    {% endfor %}
                </div>
                </div>
                </div>
    </section>
    <section class="container-fluid" id="enquire-form">
        <div class="row justify-content-center">
            <div class="col-6">

            </div>
        </div>
    </section>
{% endblock %}