{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <button class="btn account-btn mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccount" aria-expanded="false" aria-controls="collapseExample">
            Account
        </button>
        <button class="btn workshops-btn mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkshops" aria-expanded="false" aria-controls="collapseExample">
            Workshops
        </button>
    </div>
</div>
<div class="container-fluid mt-4 mb-4" id="profile">
    <div class="row">
        <div class="col">
            <!-- Display user account info/details -->
            <div class="collapse multi-collapse" id="collapseAccount">
                <p class="title">
                    Update Personal Details
                </p>
                <div class="card card-body ml-3 mt-4">
                {% if request.user.is_authenticated %}
                    <form action="{% url 'user_account' %}" method="POST" class="account-text">
                        {% csrf_token %}
                        {{ form.first_name | as_crispy_field }}
                        {{ form.last_name | as_crispy_field }}
                        {{ form.email_address | as_crispy_field }}
                        {{ form.phone_number | as_crispy_field }}
                        {{ form.street_address1 | as_crispy_field }}
                        {{ form.street_address2 | as_crispy_field }}
                        {{ form.postcode | as_crispy_field }}
                        {{ form.town_or_city | as_crispy_field }}
                        {{ form.county | as_crispy_field }}
                        {{ form.country | as_crispy_field }}
                        <div class="mt-4">
                            <button type="reset" class="btn form-btn mr-2">Reset Form</button>
                            <button type="submit" class="btn form-btn">Update Information</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="collapseWorkshops">
                <p class="title">
                    Booked Workshops
                </p>
                <div class="card card-body">
                    Here a list of all booked workshops will appear
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row justify-content-center">
    <div class="col-4">
        <p class="title text-center">
            Add, edit and/or delete your testimonials <a href="{% url 'testimonial'%}">here!</a>
        </p>
    </div>
</div> -->



        {% endif %}
{% endblock %}