{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}
{% block extra_title %}| My Booking | Review{% endblock %}

{% block content %}

<!-- Checkout container -->
<div class="container">
    <p class="section-title mt-1 text-left">Order Review</p>

    {% if 'account' in request.META.HTTP_REFERER %}
    <a href="{{ request.META.HTTP_REFERER }}" class="breadcrumbs-link"><i class="fas fa-chevron-left"></i>
        Back to Account Page</a>
    {% else %}
    <a href="{{ request.META.HTTP_REFERER }}" class="breadcrumbs-link"><i class="fas fa-chevron-left"></i>
        Go Back</a>
    {% endif %}

    <!-- Main container -->
    <div class="row my-3">
        <!-- Personal and Order Information -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card shadow-sm">
                <!-- Order details -->
                <p class="section-title">Order Details</p>
                <p class="book-title">Order Number:<span> {{ order.order_number }}</span></p>
                <p class="book-title">Full Name: <span> {{ order.full_name|title }}</span></p>
                <p class="book-title">Email Address: <span> {{ order.email }}</span></p>
                <p class="book-title">Phone Number: <span> {{ order.phone_number }}</span></p>
                <p class="book-title">Street Addres 1: <span> {{ order.street_address1 }}</span></p>
                <p class="book-title">Street Addres 2: <span> {{ order.street_address2 }}</span></p>
                <p class="book-title">Postcode: <span> {{order.postcode|upper }}</span></p>
                <p class="book-title">County: <span> {{order.county|title }}</span></p>
                <p class="book-title">Country: <span> {{order.country.name|title }}</span></p>
                <hr>
                <p class="book-title">Payment: <span> € {{order.grand_total }}</span></p>
                {% if from_profile %}
                <p class="book-title">Date: <span> {{ order.date|date:"d-m-Y (D)" }} | {{ order.date|time:"H:i "}}</span></p>
                {% endif %}
            </div>
        </div>
        <!-- Booked Workshops from Order -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card shadow-sm">
                <p class="section-title">Workshop{% if workshops_count != 1 %}s{% endif %} you booked:</p>
                {% for item in order.lineitems.all %}
                <div class="workshops-container mt-2">
                    <div class="row">
                        <!-- Workshop Info -->
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9 mb-2">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between flex-column">
                                    <p class="book-title">{{ item.workshop.name }}</p>
                                    <span class="book-title">Price € {{ item.workshop.price }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Link to view workshop details -->
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                            <a href="{% url 'workshop' item.workshop.id %}" class="btn custom-btn">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- Don't display separate line after last lessons displayed -->
                {% if forloop.last != True %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}