{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<section class="account-main my-3">
    {% if request.user.is_authenticated %}
    <div class="container-fluid mb-4" id="testimonials">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                    Add, edit and/or delete your testimonials here!
                </p>
            </div>
            <a href="{% url 'add-testimonial' %}">Add testimonial</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}