#shadow {
    margin-top: 6rem;
    margin-bottom: 3rem;
    max-width: 95vw;
}
#shadow-content {
    margin-top: 3rem;
    margin-left: 2rem;
}
.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #580c2d;
}
.shadow-text {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}

#shadow-image {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/shadow-image.jpg");
    height: 35vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 1rem;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
}
.shadow-quote {
    display: flex;
    align-items:center;
    padding: 1rem 1rem;
    justify-content: center;
    margin-top: 15rem;
    font-size: 1rem;
    color: #671a36;
    background: rgba(255, 255, 255, 0.404);
}