.section-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 3rem;
    color: #580c2d;
}
.info-title-back {
    font-family: 'Oregano', cursive;
    font-size: 1rem;
    color: #580c2d;
    margin-left: 1rem;
    margin-top: 1rem;
}
.info-title {
    font-family: 'Oregano', cursive;
    font-size: 2rem;
    color: #580c2d;
    margin-left: 1rem;
    margin-top: 1rem;
}
.info-sub-title {
    font-family: 'Oregano', cursive;
    font-size: 1.2rem;
    color: #580c2d;
    margin-left: 1rem;
    margin-top: 1rem;
}
.order-title {
    font-size: 0.8rem;
    color: #580c2d;
    margin-left: 1rem;
}
.order-title-text,
.email {
    font-size: 0.8rem;
    color: #15020a;
    margin-left: 1rem;
}
.email-section-title {
    font-family: 'Oregano', cursive;
    font-size: 1.5rem;
    color: #580c2d;
}
.custom-btn-pay {
    background-color: #79113F !important;
    color: #f8f8ff !important;
    width: 15rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#checkout-page .booking-payment #card-errors span {
    color: #f60f13;
    font-weight: 300;
    font-size: 0.85rem;
    font-style: italic;
} 
/* Styling for stripe card element */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #000;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.stripe-style-input::placeholder {
    color: #aab7c4;
}
.fieldset-label {
    position: relative;
    right: .5rem;
}
#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}
select,
select option {
    color: #fff;
}
select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Custom loading overlay during transaction check */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/logo/logo.png");
    background-color: #bb236c88;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9999;
}
.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}