{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid mb-4" id="about">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                Why choose a more sexual approach?
                </p>
                <p class="why-text">
                Choosing for a more sensual, sexual and shadow-wy approach for dealing with or resolving symptoms is something that is still not done in our society.
                Many therapies aimed at healing aim to ignore, suppress or hide these aspects. It is still in a dark corner, while there is so much potential for healing and freedom for women!
                This is not about learning tricks to satisfy a partner, it is about reconnecting with your own sensuality, your own sexuality.
                I teach you through simple exercises to reconnect with those parts that have been repressed by social conditioning and upbringing.
                Many women experience problems in sexuality due to trauma to body awareness, sensuality and sexuality.
                I would like to invite you to watch the video at the end of this text and consider whether and how you were 'intimidated' as a young,
                growing girl or perhaps when you were older and how you were taught to be ashamed of yourself and your body. Think about wearing a bikini top while you didn't have breasts yet.
                This alone, however well-intentioned, can make you hide, feel ashamed and feel insecure about your own body. With all its consequences.
                From about 8 minutes in, she tells about 'first offenses' about how shame is instilled into girls at a young age. Sexual energy does not mean energy from sex or energy that you only use for sex.
                Sexuality means a much greater thing to women. The womb creates, it houses and grows life. The best-known example is the carrying of a child. What a powerhouse!
                But you can also use sexual energy to create a whole host of other creative things.
                </p>
            </div>
            <!--Embedded video-->
        </div>
</section>
<section class="container-fluid mb-4" id="how">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title text-center">
                How can Dark Luna help?
                </p>
                <p class="how-text">
                Luna offers a revolutionary new concept in the development of your female sexuality. Due to all the hustle and bustle of our life, work, children, hobbies, our sex life often falls short.
                But did you know that the power of women is linked to this sexual energy? 
                This energy, our life energy, is our birthright. Sexual energy can heal if it is properly managed. Holistic sexuality involves generating and controlling this energy,
                as well as being sensual in life, by taking good care of yourself. 
                Through exercises and enlightening conversations I will help you on your way to your sensual, playful self and you will find that your whole being benefits from this, including your sex life!

                Luna can help if: 
                    <ul class="how-text">
                        <li>You want to reconnect with your indomitable, free, dark, sexual, seductive and creative power</li>
                        <li>You no longer can or dare to be intimate, but would like to change this</li>
                        <li>You feel tense in your body and want to learn to relax again</li>
                        <li>You want to be more in touch with yourself and your partner during sex</li>
                        <li>You want to connect with the feminine wisdom within you</li>
                        <li>You experience a rut in your sex life</li>
                        <li>Your libido leaves something to be desired</li>
                        <li>You want sex to play a more important role</li>
                        <li>You experience sexual problems (vaginismus, libido, difficulty having an orgasm, etc.)</li>
                        <li>You suffer from hormonal complaints (menstrual complaints, PMS, menopause and fertility problems)</li>
                    </ul>
                </p>
            </div>
        </div>
</section>

{% endblock %}