{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}
    
{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="contact-title text-center">
            Get In Touch
            </p>
        </div>
    </div>   
</section>
<section class="container-fluid contact-bg">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-8 contact-body">
            {% include 'forms/contact-form.html' %}
        </div>
    </div>
</section>
{% endblock %}