.section-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #580c2d;
}
.book-title {
    font-size: 1rem;
    color: #580c2d;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.card-title {
    font-family: 'Oregano', cursive;
    padding: 1rem 1rem;
    width: auto;
    font-size: 1.5rem;
    color: #580c2d;
}
.card-text {
    font-size: 1rem;
    color: #580c2d;
    margin-bottom: 1rem;
}
.card-sub-title {
    font-size: 1rem;
    color: #580c2d;
}
.custom-btn {
    background-color: #79113f;
    color: #fff;
    width: 3rem;
    border-radius: 3rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.custom-btn-gen {
    background-color: #79113f;
    color: #fff;
    width: 5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.custom-btn-random {
    background-color: #79113f;
    color: #fff;
    width: 6rem;
    border-radius: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.custom-btn-gen-clear {
    background-color: #79113f;
    color: #fff;
    width: 8rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.btn {
    text-decoration: underline;
    font-size: 0.6rem;;
}
.total-title {
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #580c2d;
}
#section-bg-dark {
    background-image: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/bgdark.jpg");
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.50;
}
@media (min-width: 576px) {
    .section-title {
        font-size: 2rem;
    }
    
}
@media (min-width: 768px) {
    .book-title {
        font-size: 1.8rem;
    }
  
}
@media (min-width: 992px) {
   
   
}