{% extends 'base.html' %}
{% load static %}
{% block title %}
    How
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'how/css/how.css' %}">
{% endblock %}
{% block content %}    
<section class="container-fluid mb-4" id="how">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-8">
            <div class="how-title text-center">
            How can Dark Luna help?
            </div>
            <p class="how-text">
            Luna offers a revolutionary new concept in the development of your female sexuality. Due to all the hustle and bustle of our life, work, children, hobbies, our sex life often falls short.
            But did you know that the power of women is linked to this sexual energy? 
            This energy, our life energy, is our birthright. Sexual energy can heal if it is properly managed. Holistic sexuality involves generating and controlling this energy,
            as well as being sensual in life, by taking good care of yourself. 
            Through exercises and enlightening conversations I will help you on your way to your sensual, playful self and you will find that your whole being benefits from this, including your sex life!<br/>
            Luna can help if:
                <ul class="how-text">
                    <li>You want to reconnect with your indomitable, free, dark, sexual, seductive and creative power</li>
                    <li>You no longer can or dare to be intimate, but would like to change this</li>
                    <li>You feel tense in your body and want to learn to relax again</li>
                    <li>You want to be more in touch with yourself and your partner during sex</li>
                    <li>You want to connect with the feminine wisdom within you</li>
                    <li>You experience a rut in your sex life</li>
                    <li>Your libido leaves something to be desired</li>
                    <li>You want sex to play a more important role</li>
                    <li>You experience sexual problems (vaginismus, libido, difficulty having an orgasm, etc.)</li>
                    <li>You suffer from hormonal complaints (menstrual complaints, PMS, menopause and fertility problems)</li>
                </ul>
            </p>
        </div>
    </div>
</section>
<section class="container-fluid" id="mooncalendar">
    <div class="row justify-content-center">
        <div class="col-10 col-md-9 col-lg-8">
            <p class="how-title text-center">
                Moon Calendar
            </p>
            <p class="calendar-text">
                The moon plays a vital role in regards to fertility and menstruation in a womans body, as well as how you feel during a specif moon phase. I encourage you to try and keep track of the phases of the moon,
                on makes notes on how you feel and where you are in your cycle. This could provide you with some hidden answers, as well as some comfort in knowing that all things you feel and things happening in your body,
                is cyclical.    
            </p>
            <div id="ex3"></div>
        </div>
    </div>
</section>
{% include 'layout/footer.html' %}
{% block postloadjs %}
    <script src="{% static 'how/js/how.js' %}"></script>
{% endblock %}

{% endblock %}