{% extends 'base.html' %}
{% load static %}

{% block title %}
    Coaching
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'coaching/css/coaching.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <div class="page-title text-center">
            Coaching
        </div>
        <p class="contact-section-title contact text-center">
            Please feel free to <a href="{% url 'contact' %}"><i class="fas fa-reply-all contact mr-2"></i>Contact us</a> for more information or to book a free introduction session! 
        </p>
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-10 col-lg-8 img-fluid" id="life-image">
                <p class="life-quote text-center">
                    One day or day one? You decide.
                    ~ Paulo Coelho
                </p>
            </div>
            <div class="col-12 col-md-10 col-lg-10 bg text-center">
                <p class="section-title text-center">
                    Life Coaching
                </p>
                <p class="life-text text-center">
                Coaching at Dark Luna is a different kind of coaching than you may be used to. In coaching, many people often mistakenly mean digging for hours into someone's past.
                As a result, you feel even worse about things that you were already uncomfortable with. Dark Luna has come up with a unique concept where you only speak briefly about the past.
                What happened in the past can contain a lot of information, but no more than that. It is nice to know where you come from and to use this as a kind of springboard.
                This is information that can help you avoid falling into the same pattern again. Coaching at Dark Luna can help you in a variety of areas.
                We master several forms of therapy and decide what form(s) would benefit you best, depending on what you bring to the table. 
                We work with Somatic Therapy, energy healing and shadow work.
                </p>
                <div class="cta-why">Why choose Dark Luna? <a href="{% url 'why' %}" class="col-2 cta-why-link">Click here!</a></div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 bg">
                <p class="section-title text-center">
                    Sex Coaching
                </p>
                <p class="sex-text text-center">
                    The sex coaching sessions we do are not like conversations with a regular therapist. We are not going to dive into your past, dig or analyze too much.
                Analyzing is a masculine quality and we at Dark Luna are convinced that the solution to many problems women grapple with lies in learning how and what you feel and how to interpreted and use your intuition.
                Sessions with us are more with the body and the emotions. Not focusing why things went south, but how do I make sure that it (continues) to go well.
                You will be given exercises.
                A number of exercises are aimed at generating sexual energy (warm exercises) and you learn to let it flow through your body and store it in your lower abdomen.
                Other exercises (cold exercises) teach you to get in better contact with your body and to become flexible.
                What is important to know is that there is no sexual acts of any kind performed at Dark Luna.
                You will remain clothed while learning the exercises which you can do at home by yourself or together with a partner.
                This energy, life energy is very important and ensures that you become and remain healthy and can enjoy your life optimally.
                As a sensual woman you learn to enjoy attention from others optimally, you find out what you like and what you need and how you ask for it.
                </p>
                <div class="cta-why">How Dark Luna can help? <a href="{% url 'how' %}" class="col-2 cta-why-link">Click here!</a></div>
            </div>
        </div>
    </div>
    <div class="container" id="shadow">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 bg">
                <p class="section-title text-center">
                    Shadow Work
                </p>
                <p class="shadow-text text-center">
                    Shadow work wants to reintegrate the qualities that you feel less comfortable with into your personality.
                    This can be shame, anger, hatred or guilt. Basically all "negative" feelings can fall under this. We often put these feelings away, resulting them resurfacing in a potentially destructive way.
                    The goal is to identify these feelings, listen to their message with empathy and understanding and then integrate them into your personality.
                    Everyone carries a dark side, even if we don’t like to admit it. Shadow work can sound scary, and some parts of it may be rather uncomfortable,
                    but it is necessary work to uncover true joy and peace in life. If we let our dark side run rampant and uncontrolled, our lives will feel chaotic.
                    This can manifest as issues with mental health, diseases, feelings of low self-worth, addictions, scarcity mindset, and other mind/body health issues that can affect overall quality of life.
                    Our shadow self often harms our life, in ways that are unconscious to us at the time, as a habitual reaction to particular places, people or things.
                    Our shadow self blocks us from acting for our own greatest good and can prevent us from reaching our true potential in life.
                    </p>
            </div>
        </div>
    </div>
    {% include 'layout/footer.html' %}
{% endblock %}