.title {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    width: auto;
    font-size: 2rem;
    color: #580c2d;
    background: rgba(255, 255, 255, 0.2);
}
.massage-text {
    font-size: 1rem;
    color: #15020a;
    background-color: #fff;
}
p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}
