.massage-title {
    font-family: 'Oregano', cursive;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    width: auto;
    font-size: 2rem;
    color: #580c2d;
    margin-top: 2rem;
}
.massage-sub-title {
    font-family: 'Oregano', cursive;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    width: auto;
    font-size: 1rem;
    color: #580c2d;
    margin-left: 1rem;
}
.massage-text {
    font-size: 0.8rem;
    color: #fff;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #580c2d77;
}
p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
}
a:hover {
    color:#580c2d;;
    text-decoration: underline;
}
#massage-img {
    background: url("https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/bglight.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 4rem;
}
.fa-reply-all:hover,
.contact {
    color: #580c2d;
}

/* Media breakpoints */ 
@media (min-width: 1400px) {
    .massage-title {
        font-size: 3rem;
    }
    .massage-sub-title {
        font-size: 1.5rem;
    }
    .massage-text {
        font-size: 1.5rem;
    }
}