<nav class="navbar navbar-expand-lg">
    <a href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}backgrounds/navbar-brand-dl.png" width="160" height="120" alt="dark-luna-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'massage' %}">Massage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'workshops' %}">Workshops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'therapists' %}">Therapists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{% url 'booking' %}"><i class="fas fa-shopping-bag"></i></a>
                <p class="my-0">
                    {% if grand_total %}
                    € {{ grand_total|floatformat:2 }}
                    {% else %}
                    € 0.00
                    {% endif %}
                </p>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user_account' %}" class="dropdown-item">{{ request.user.username }}</a>
                {% if request.user.is_superuser %}
                <a href="{% url 'add-blog-post' %}" class="dropdown-item">Blog</a>
                <a href="{% url 'add-blog-category'%}" class="dropdown-item">Blog cat</a>
                <a href="{% url 'categories_admin' %}" class="dropdown-item">Categories</a>
                <a href="{% url 'workshops_admin' %}" class="dropdown-item">Workshops</a>
                {% endif %}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="custom-btn" type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}"  class="dropdown-item">Login</a>
                {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
