<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-md">
    <a class="navbar-brand p-0" href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}logo/logo.png" alt="dark-luna-logo" width="120" height="41">
    </a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-3" href="{% url '' %}">Coaching</a>
            <div class="dropdown-menu border-0" aria-labelledby="coaching-link">
                <a href="{% url '' %}" class="dropdown-item">Shadow Work</a>
                <a href="{% url '' %}" class="dropdown-item ">Life Coaching</a>
                <a href="{% url '' %}" class="dropdown-item ">Sex Coaching</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Massage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Workshops</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Therapists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="{% url '' %}">Contact</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link mr-3" href="{% url '' %}"><i class="fas fa-user-circle"></i></a>
                <div class="dropdown-content shadow-sm">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{%url '' %}" class="dropdown-item">Site Management</a>
                        {% endif %}
                    <a href="{% url '' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url '' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url '' %}" class="dropdown-item">Register</a>
                        <a href="{% url '' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link mr-3" href="{% url '' %}"><i class="fas fa-shopping-bag"></i></a>
                <div class="dropdown-content shadow-sm">
                </div>
            </div>
        </li>
    </ul>
</nav>