<div class="toast custom-toast toast-info" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header">
        <strong class="mr-auto toast-main-text">Info</strong>
        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr>
    <div class="toast-body message-text">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
    </div>
</div>