{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}

{% block title %}
    Admin Area
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="section-title text-center">Admin - Workshops </div>
            <div class="workshops-admin">
                <div class="body-title text-center">Add, Edit or Remove Workshop 
                </div>
            </div>
            <div class="col-12 col-md-12 text-center">
                <a href="{% url 'add_workshops_admin' %}" class="btn custom-btn">Add</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-12">
            <div class="section-title text-center">Edit or remove existing workshops</div>
        </div>
        {% for workshop in workshops %}
        <div class="col-8 col-md-4 col-lg-2 ml-2 mt-4">
            {% if workshop.image %}
                <img src="{{workshop.image.url}}" class="card-img-top" alt="...">
            {% else %}
                <img src="../../../media/backgrounds/why.jpg" class="card-img-top" alt="..."> 
            {% endif %}
                <div class="section-title">{{ workshop.name }}</div>
                <div class="col-10 col-md-12">
                    <div class="text-body-admin mb-1">Participants:
                        <span>{{ workshop.participants }}</span>
                    </div>
                    <div class="text-body-admin mb-1">Price:
                        <span>€ {{ workshop.price }}</span>
                    </div>
                    <div class="text-body-admin mb-1">Therapist:
                        <span>{{ workshop.therapist }}</span>
                    </div>
                    <hr>
                    <div class="text-body">Workshop Starts:</div>
                    <p class="workshops-text">Date: <span>{{ workshop.start_date|date:"d/M/Y (l)" }}</span></p>
                    <p class="workshops-text">Time: <span>{{ workshop.start_time|time:"H:i:s" }}</span></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 mt-4">
                        <a href="{% url 'workshop' workshop.id %}"
                        class="book-custom-btn btn">Details</a>
                    </div>
                </div>
                    <div class="col-12 col-md-4 ml-0">
                        <a href="{% url 'edit_workshops_admin' workshop.id %}"
                            class="book-custom-btn btn ml-auto">Edit</a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="{% url 'remove_workshops_admin' workshop.id %}"
                            class="book-custom-btn btn ml-auto">Remove</a>
                    </div>
        </div>
        {% endfor %}
    </div>
</div>      
{% endblock %}
