{% extends 'base.html' %}
{% block title %}
    Workshop
{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}


{% block content %}

<section class="container-fluid">
    <div class="row workshop-container">
        <div class="col-12">
        <p class="workshop-section-title text-center mx-auto mt-0">
            {{ workshop.name }} details
            </p>
        </div>    
        <div class="col-md-3 col-lg-3">
            {% if workshop.image %}
                <img src="{{workshop.image.url}}" class="card-img-top" alt="...">
            {% else %}
                <img src="https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/why.jpg" class="card-img-top" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8 mx-auto">
            <div class="section-title text-center"> {{ workshop.name }}</div>
            <div class="card-body">
                <div class="body-title">This workshop is for: {{ workshop.category }}</div>
                <div class="body-title">We've got space for: {{ workshop.participants }}
                    Participant{% if workshop.participants > 1 %}s{% endif %}</div>
                <div class= "body-title">Therapist: {{ workshop.therapist }}</div>
                <div class= "body-title">Price: € {{ workshop.price }}</div>
            </div>
            <div class="col">
                <div class="body-title">Description</div>
                <p class="workshops-text"><span>{{ workshop.description }}</span></p>
            </div>
            <!-- Start Date & Start Time -->
            <div class="col-7">
            <div class="body-title">Workshop Starts</div>
            <p class="workshops-text">Date: <span>{{ workshop.start_date|date:"d/M/Y (l)" }}</span></p>
            <p class="workshops-text">Time: <span>{{ workshop.start_time|time:"H:i:s" }}</span></p>
            </div>
            <div class="col-7">
            <div class="body-title">Workshop Ends</div>
            <p class="workshops-text">Date: <span>{{ workshop.end_date|date:"d/M/Y (l)" }}</span></p>
            <p class="workshops-text">Time: <span>{{ workshop.end_time|time:"H:i:s" }}</span></p>
            </div>
        </div>
    </div>
</section>
<!-- Bottom Section -->
<div class="row ">
    <!-- Booking Button -->
    <div class="col-10 col-md-8 mx-auto">
        <form class="form" action="{% url 'add_to_booking' workshop.id %}" method="POST">
            {% csrf_token %}
            <input class="form-control qty_input" type="hidden" name="quantity" value="1"
            data-lesson_id="{{ workshop.id }}" id="id_qty_{{ workshop.id }}">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit" class="btn book-custom-btn ml-0">Book Now</button>
        </form>
    </div>
    <!-- Contact button  -->
    <div class="col-10 col-md-8 mx-auto">
            <a href="{% url 'contact' %}" class="btn book-custom-btn ml-0">Contact us</a>
    </div>
</div>
{% include 'layout/footer.html' %}
{% endblock %}