{% extends 'base.html' %}
{% load static %}
{% block title %}
    Workshops
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}
    
{% block content %}
    
<section class="container-fluid mb-4" id="workshops">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <p class="section-title text-center">
            Workshops
            </p>
            <p class="workshops-text text-center">
            At Dark Luna we offer a variety of workshops. Click the cards for more information.    
            </p>
        </div>
    </div>   
</section>
<section class="container-fluid mb-4 filter-box" id="workshops-cards">
    <div class="row justify-content-center">
        <form method="GET" action="{% url 'workshops' %}">
            <input type="text" name="q" placeholder="Search" aria-label="Search">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
            <p class="text-success m-0 mt-1">
                {% if query_text != None %}
                {{ workshops|length }} Workshop{% if workshops|length != 1 %}s{% endif %}
                {% if query_text %} found for
                <p class="query-text">"{{ query_text|truncatechars:24 }}"</p>
                {% endif %}
                {% endif %}
            </p>
        </form>
    </div>
</section>
<div class="row justify-content-center">
    <div class="col-6 col-md-4">
        <p class="category-title text-center">Categories:</p>
        <div class="filter-container">
            <!-- Code used from Code Institute walkthrough project (Boutique Ado) -->
            <select class="sort-selector custom-select custom-select-sm selector-border
            {% if current_sorting == 'None_None' %}selector-border-none{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}> Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}> Name (Z-A)</option>
            </select>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-4 mb-4">  
    <div class="col-10 col-md-3 ml-auto">
        <a class="category-link {% if request.get_full_path == '/workshops/' %}category-selected{% endif %} all-workshops"
            href="{% url 'workshops' %}">All Workshops ({{ all_workshops.count }})</a>
    </div>
    {% for category in categories_list %}
    <div class="col-6 col-md-2">
        <a class="category-link-item {{category.name}}"
        href="{% url 'workshops' %}?category={{ category.name }}">
        {{ category.name }} ({{ category.workshop__count }})
        </a>
    </div>
    {% endfor %}
</div>
<section class="container">
    <div class="row justify-content-center">
        {% for workshop in workshops %}
        <div class="col-10 col-md-3 col-lg-3">
            <div class="card mr-1" style="width: 15rem;">
            {% if workshop.image %}
                <img src="{{workshop.image.url}}" class="card-img-top" alt="...">
            {% else %}
                <img src="https://darkluna.s3.eu-west-2.amazonaws.com/media/backgrounds/why.jpg" class="card-img-top" alt="..."> 
            {% endif %}
                <div class="card-body">
                    <div class="col-12 col-md-12">
                        <div class="workshop-section-title mt-0">{{workshop.name }}</div>
                    </div>
                    <div class="col-10 col-md-12">
                        <div class="text-body mb-1">Participants:
                            <span>{{ workshop.participants }}</span>
                    </div>
                    <div class="text-body mb-1">Price:
                        <span>€ {{ workshop.price }}</span>
                    </div>
                    <div class="text-body mb-1">Therapist:
                        <span>{{ workshop.therapist }}</span>
                    </div>
                    <hr>
                    <div class="text-body">Workshop Starts:</div>
                    <p class="workshops-text">Date: <span>{{ workshop.start_date|date:"d/M/Y (l)" }}</span></p>
                    <p class="workshops-text">Time: <span>{{ workshop.start_time|time:"H:i:s" }}</span></p>
                    </div>
                    <div class="button">
                        <a href="{% url 'workshop' workshop.id %}"
                        class="btn workshop-btn">Details</a>
                        <form class="form" action="{% url 'add_to_booking' workshop.id %}" method="POST">
                            {% csrf_token %}
                            <input class="form-control qty_input" type="hidden" name="quantity"
                                value="1" data-item_id="{{ workshop.id }}" id="id_qty_{{ workshop.id }}">
                            <input type="hidden" name="redirect_url"
                                value="{{ request.get_full_path }}">
                            <button type="submit" class="book-btn btn">Book Now!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% include 'layout/footer.html' %}
{% endblock %}

{% block extra_js %}
{{ block.supper }}
<script src="{% static 'workshops/js/workshops.js' %}"></script>
{% endblock %}
                    
               
                

