{% extends 'base.html' %}
{% load static %}

{% block title %}
    Workshop
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row workshop-container">
        <div class="col-11">
            <div class="workshop-section-title text-center mb-4 mx-auto mt-0">
                {{ workshop.name }} details
            </div>
        </div>    
        <div class="col-6 col-md-4 col-lg-4 mt-4">
            {% if workshop.image %}
                <img src="{{ MEDIA_URL }}{{workshop.image}}" class="card-img-top" alt="...">
            {% else %}
                <img src="{{ MEDIA_URL }}../../../media/logo/logo.png" class="card-img-top" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8 mx-auto">
            <div class="section-title"> {{ workshop.name }}</div>
            <div class="card-body">
                <div class="body-title">This workshop is for: {{ workshop.category }}</div>
                <div class="body-title">We've got space for: {{ workshop.participants }}
                    Participant{% if workshop.participants > 1 %}s{% endif %}</div>
                <div class= "body-title">Therapist: {{ workshop.therapist }}</div>
                <div class= "body-title">Price: € {{ workshop.price }}</div>
            </div>
            <div class="col-12 mb-4">
                <div class="body-title">Description</div>
                <div class="workshops-text"><span>{{ workshop.description }}</span></div>
            </div>
            <!-- Start Date & Start Time -->
            <div class="col-7">
            <div class="body-title">Workshop Starts</div>
            <p class="workshops-text">Date: <span>{{ workshop.start_date|date:"d/M/Y (l)" }}</span></p>
            <p class="workshops-text">Time: <span>{{ workshop.start_time|time:"H:i:s" }}</span></p>
            </div>
            <div class="col-7">
            <div class="body-title">Workshop Ends</div>
            <p class="workshops-text">Date: <span>{{ workshop.end_date|date:"d/M/Y (l)" }}</span></p>
            <p class="workshops-text">Time: <span>{{ workshop.end_time|time:"H:i:s" }}</span></p>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Section -->
<div class="container">
    <div class="row justify-content-center">
        <!-- Booking Button -->
        <div class="col-6 col-md-4 col-lg-6">
            <form class="form" action="{% url 'add_to_booking' workshop.id %}" method="POST">
                {% csrf_token %}
                <input class="form-control qty_input" type="hidden" name="quantity" value="1"
                data-lesson_id="{{ workshop.id }}" id="id_qty_{{ workshop.id }}">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <button type="submit" class="book-custom-btn-now">Book Now</button>
            </form>
        </div>
        <!-- Contact button  -->
        <div class="col-6 col-md-4 col-lg-6">
            <a href="{% url 'contact' %}" class="d-flex contact"><i class="fas fa-reply-all mr-2"></i>Contact us</a>
        </div>
    </div>
</div>
{% include 'layout/footer.html' %}
{% endblock %}